apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
        volumeMounts:
        - name: html-volume
          mountPath: /usr/share/nginx/html
        - name: images-volume
          mountPath: /usr/share/nginx/html/images
      volumes:
      - name: html-volume
        configMap:
          name: nginx-html
      - name: images-volume
        persistentVolumeClaim:
          claimName: images-pvc